<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UserWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginView</servlet-name>
    <servlet-class>com.syj.view.LoginView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginView</servlet-name>
    <url-pattern>/LoginView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCtrl</servlet-name>
    <servlet-class>com.syj.controller.LoginCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtrl</servlet-name>
    <url-pattern>/LoginCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainFrame</servlet-name>
    <servlet-class>com.syj.view.MainFrame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFrame</servlet-name>
    <url-pattern>/MainFrame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManage</servlet-name>
    <servlet-class>com.syj.view.UserManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManage</servlet-name>
    <url-pattern>/UserManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersCtrl</servlet-name>
    <servlet-class>com.syj.controller.UsersCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersCtrl</servlet-name>
    <url-pattern>/UsersCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ERR</servlet-name>
    <servlet-class>com.syj.view.ERR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ERR</servlet-name>
    <url-pattern>/ERR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OK</servlet-name>
    <servlet-class>com.syj.view.OK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OK</servlet-name>
    <url-pattern>/OK</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateView</servlet-name>
    <servlet-class>com.syj.view.UserUpdateView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateView</servlet-name>
    <url-pattern>/UserUpdateView</url-pattern>
  </servlet-mapping>
</web-app>